[submodule "src/godot-cpp"]
	path = src/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "src/miniscript"]
	path = src/miniscript
	url = https://github.com/ThakeeNathees/miniscript.git
